<div class="cart container">
  <mat-card *ngFor="let item of cartItems" class="cart-item-card">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="cart-item-image">
          <img [src]="item.imageUrl" alt="{{ item.name }}" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <mat-card-content class="cart-item-content">
          <h2>Product Name: {{ item.name }}</h2>
          <p>Price: {{ item.price | currency }}</p>

            <!-- <div class="quantity-controls"> Quantity: {{ item.quantity }}
            <button (click)="decreaseQuantity(item)">-</button>           
            <button (click)="increaseQuantity(item)">+</button>            
          </div> -->
          <div class="quantity-controls">
            <button mat-icon-button color="warn" (click)="decreaseQuantity(item)">
              <mat-icon>remove</mat-icon>
            </button>
            Quantity: {{ item.quantity }}
            <button mat-icon-button color="primary" (click)="increaseQuantity(item)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="total-price">
            Total Price: &#x20B9;{{ (item.quantity || 0) * item.price }}
          </div>
          <mat-card-actions>
          
            <div class="btn-actions">
              <button mat-icon-button class="btn btn-sm btn-success"  
              (click)="removeFromCart(item)"><mat-icon>delete</mat-icon>
              </button>             
              <div class="buynowdiv">
              <button mat-raised-button color="primary" (click)="buyNow(item)">Buy Now</button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card-content>       
      </div>
    </div>
  </mat-card>
</div>
<div class="place-order-btn">
  <button mat-raised-button color="accent" (click)="buyProducts(cartItems)">Place Order</button>
</div>