<mat-card class="cart-container">
  <mat-card-header>
    <div class="header-text">Your Cart</div>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="cartItems.length === 0" class="empty-cart-text">Your cart is empty.</div>
    <div *ngFor="let item of cartItems" class="cart-item">
      <div class="item-details">
        <h4>{{ item.name }}</h4>
        <p class="item-price">$ {{ item.price }}</p>
      </div>
      <button mat-icon-button color="warn" (click)="removeFromCart(item)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" *ngIf="cartItems.length > 0" (click)="checkout()">Checkout</button>
  </mat-card-actions>
</mat-card>
