<div class="cart container">  
  <mat-card *ngFor="let item of cartItems" class="cart-item-card">    
    <div class="row">
      <mat-card-header>
        <mat-card-title>order #1</mat-card-title>
      </mat-card-header>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="cart-item-image">
          <img [src]="item.imageUrl" alt="{{ item.name }}" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <p>Product Name</p>
        <h5>{{ item.name }}</h5>
      </div>      
      <div class="col-md-3 col-sm-12 col-xs-12">
        <p>Quantity</p>
        {{ item.quantity }}
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <p>Total Price</p>
         &#x20B9;{{ (item.quantity || 0) * item.price }}
      </div>
    </div>
  </mat-card>