<div class="view-order container">
    <h1 class="mb-4">View Order</h1>
    <div *ngIf="order">
      <p><strong>Order ID:</strong> {{ order.orderId }}</p>
      <p><strong>Customer Name:</strong> {{ order.customerName }}</p>
      <p><strong>Order Date:</strong> {{ order.orderDate }}</p>
  
      <h2>Order Items:</h2>
      <ul>
        <li *ngFor="let item of order.items">
          <div class="d-flex align-items-center">
            <div class="product-image">
              <img [src]="item.imageUrl" [alt]="item.name" class="img-thumbnail" style="max-height: 100px; max-width: 100px;">
            </div>
            <div class="flex-grow-1">
              <span class="product-name">{{ item.name }}</span> - Price: ${{ item.price }} - Quantity: {{ item.quantity }}
            </div>
            <div class="ml-3">
              Total Price: ${{ item.quantity * item.price }}
            </div>
          </div>
        </li>
      </ul>
  
      <p><strong>Total Order Price:</strong> ${{ getTotalOrderPrice() }}</p>
    </div>
    <div *ngIf="!order">
      <p>No order details available.</p>
    </div>
  </div>
  